<div class="p-8 bg-white sm:px-12 md:px-16 lg:px-64">
  <h1 class="text-xl font-semibold md:text-3xl">プライバシーポリシー</h1>
  <br>

  <h2 class="text-sm font-semibold mb-1 sm:text-base lg:text-lg">お客様から取得する情報</h2>
  <div class="text-xs sm:text-sm md:text-base">
    <p>当社はお客様から以下の情報を取得します。</p>
    <ul class="list-inside my-1">
      <li class="list-disc">氏名(ニックネームやペンネームを含む)</li>
      <li class="list-disc">メールアドレス</li>
      <li class="list-disc">外部サービスでお客様が利用するID、その他お客様が外部サービスのプライバシー設定によりお客様が連絡先の開示を認めた情報</li>
      <li class="list-disc">Cookie(クッキー)を用いて生成された情報</li>
    </ul>
  </div>
  <br>
  
  <h2 class="text-base font-semibold mb-1 sm:text-base lg:text-lg">お客様の情報を利用する目的</h2>
  <div class="text-xs sm:text-sm md:text-base">
    <p>当社は、お客様から取得した情報を、以下の目的のために使用します</p>
    <ul class="list-inside my-1">
      <li class="list-disc">当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li class="list-disc">当社サービスに関するご案内をするため</li>
      <li class="list-disc">お客様からのお問い合わせに対応するため</li>
      <li class="list-disc">当社の規約や法令に違反する行為に対応するため</li>
      <li class="list-disc">当社サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li class="list-disc">当社規約の変更などを通知するため</li>
      <li class="list-disc">以上の他、当社サービスの提供、維持、保護および改善のため</li>
    </ul>
  </div>
  <br>

  <h2 class="text-base font-semibold mb-1 sm:text-base lg:text-lg">第三者提供</h2>
  <div class="text-xs sm:text-sm md:text-base">
    <p>当社はお客様から取得する情報のうち、個人データ（個人情報保護法第16条第3項）に該当するものについては、あらかじめお客様の同意を得ずに、第三者（日本国外にあるものを含みます。）に提供しません</p>
    <p>但し、次の場合は除きます。</p>
    <ul class="list-inside my-1">
      <li class="list-disc">個人データの取り扱いを外部に委託する場合</li>
      <li class="list-disc">当社や当社サービスが買収され場合</li>
      <li class="list-disc">事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
      <li class="list-disc">その他、法律によって合法的に第三者提供が許されている場合</li>
    </ul>
  </div>
  <br>
  
  <h2 class="text-base font-semibold mb-1 sm:text-base lg:text-lg">個人情報の開示</h2>
  <div class="text-xs sm:text-sm md:text-base">
    <p>
      当社は、本人から個人情報の開示を求められたときは、本人に対し、遅滞なくこれを開示します。
      但し、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。
      なお、個人情報の開示に際しては、1件あたり1,000円の手数料を申し受けます。
    </p>
    <ul class="list-inside my-1">
      <li class="list-disc">本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
      <li class="list-disc">当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
      <li class="list-disc">その他法令に違反することとなる場合</li>
    </ul>
    <p>前項の定めに関わらず、履歴情報および特性情報など個人情報以外の情報については、原則として開示いたしません。</p>
    <p>お問い合わせは下記のフォームからお願い致します。</p>
    <%= link_to 'お問い合わせフォーム', new_contact_path, class: "btn btn-link" %>
  </div>
  <br>
  
  <h2 class="text-base font-semibold mb-1 sm:text-base lg:text-lg">アクセス解析ツール</h2>
  <div class="text-xs sm:text-sm md:text-base">
    <p>
      当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。
      Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。
      トラフィックデータは匿名で収集されており、個人を特定するものではありません。
      Cookieを向こうにすれば、これらの情報を拒否することができます。
      詳しくはお使いのブラウザ設定をご確認ください。
      Googleアナリティクスについて、詳しくは以下からご確認ください。
      <br>
      <a href="https://marketingplatform.google.com/about/analytics/terms/jp/" class="text-blue-500 hover:text-blue-800">Google アナリティクス利用規約</a>
    </p>
  </div>
  <br>

  <h2 class="text-base font-semibold mb-1 sm:text-base lg:text-lg">プライバシーポリシーの変更</h2>
  <div class="text-xs sm:text-sm md:text-base">
    <p>
      当社は、必要に応じて、このプライバシーポリシーの内容を変更します。
      この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
    </p>
  </div>
  <br>

  <p class="text-xs sm:text-sm md:text-base text-end">2024年09月27日 制定</p>
</div>