<div id="routine-edit-form" class="hidden">
  <%= render 'routines/edit_form', routine: routine %>
</div>

<div id="routine-info" class="">
  <%= render 'routines/routine_info', routine: routine %>
</div>
