<p>
  目安時間：
  <span>
    <%= routine.total_estimated_time[:hour] %> h
  </span>
  <span>
    <%= routine.total_estimated_time[:minute] %> m
  </span>
  <span>
    <%= routine.total_estimated_time[:second] %> s
  </span>
</p>
