<% if routine.is_active? %>
  <p
    class="bg-gradient-to-tl from-amber-300 to-amber-100 btn-md-custom" id="active-now-<%= routine.id %>">
    実践中
  </p>
<% else %>
  <div class="tooltip tooltip-accent" data-tip="マイページに表示します">
    <%= link_to "実践する", routines_active_path(routine), data: { turbo_method: :patch },
      class: "bg-gradient-to-tl from-green-300 to-green-100 btn-md-custom",
      id: "active-btn-#{routine.id}"
    %>
  </div>
<% end %>
