<h1 class="text-3xl mt-5 mb-15 text-center">ルーティン編集</h1>

<div class="text-center">
  <%= render "form", routine: @routine %>
  <%= link_to "戻る", routines_path, class: "btn btn-outline btn-info mx-auto" %>
</div>