<h1 class="text-lg mt-5 mb-5 text-center font-semibold sm:text-2xl md:text-3xl lg:text-4xl">ルーティン新規作成</h1>

<div class="text-center">
  <%= render "form", routine: @routine %>
  <%= link_to "キャンセル", root_path, class: "btn bg-gray-300 mx-auto mb-5 btn-md text-sm min-w-28 sm:btn-lg sm:text-base lg:text-lg lg:btn-wide" %> <br>
  <%= link_to "ルーティン一覧ページへ", routines_path, class: "link text-blue-600 mx-auto text-base sm:text-lg lg:text-xl" %>
</div>