<!-- パンくず -->
<div class="">
  <div class="breadcrumbs-container-custom">
    <ul>
      <li class="link-text-custom">
        <%= link_to 'マイページ', my_pages_path %>
      </li>
  
      <li>
        <span class="current-page-text-custom">投稿一覧</span>
      </li>
    </ul>
  </div>
  
  <h1 class="page-title-custom">ルーティン新規作成</h1>
  
  <div class="text-center">
    <%= render "form", routine: @routine %>
    <%= link_to "キャンセル", my_pages_path, class: "mb-3 btn-xl-custom btn-cansel-custom" %> <br>
    <%= link_to "Myルーティン一覧へ", routines_path, class: "link block text-blue-600 mx-auto text-lg-custom hover:scale-105" %>
  </div>
</div>

