<div class="text-center mb-10">
  <h2 class="text-xl-custom mb-5">モーニングルーティンについて</h2>

  <div class="grid sm:grid-cols-2">
    <div class="about-container-custom">
      <h3 class="text-lg-custom mb-5">モーニングルーティンとは？</h3>
      <p  class="about-p-text-custom">
        　朝起きてからやるべきことを一連の習慣のことです。
        朝起きてからの行動をあらかじめ決めておくことで、
        朝から行動をスムーズに始められ、時間を有意義に過ごすことにつながります♪
      </p>
    </div>

    <div class="text-center about-container-custom">
      <h3 class="text-lg-custom mb-5">モーニングルーティンのメリット</h3>

      <ul class="text-start px-5">
        <li class="text-gray-800 list-disc">朝の時間を有意義に使える</li>
        <li class="text-gray-800 list-disc">一日の集中力を温存できる</li>
        <li class="text-gray-800 list-disc">自己肯定感が上がる</li>
      </ul>
    </div>

    <div class="about-container-custom">
      <h3 class="text-lg-custom mb-5">
        <span class="text-gray-500">メリット1:</span>
        朝の時間を有意義に使える
      </h3>
      <p class="about-p-text-custom">
      　やることを前もって決めておけば、すぐに行動に移せます。
      さらに、朝起きてからの3時間は脳のゴールデンタイムと呼ばれるほど頭が冴えわたり、集中力や発想力が高まる特別な時間帯。
      そんな貴重な時間を活かすことで、一日をスムーズにスタートできるだけでなく、気持ちにも余裕が生まれます。
      <br>
      　ぜひこのゴールデンタイムを味方につけて、毎日のパフォーマンスをぐんと高めてみましょう。
      </p>
    </div>

    <div class="about-container-custom">
      <h3 class="text-lg-custom mb-5">
        <span class="text-gray-500">メリット2:</span>
        一日の集中力を温存できる
      </h3>
      <p class="about-p-text-custom">
        　朝起きてから「何をしよう？」と迷う時間を減らすために、あらかじめ行動をパターン化しておくのはとても効果的です。
        一日の意思決定力は有限であり、意思決定を繰り返すたびに脳が消耗してしまいます。
        <br>
        　ルーティンとして朝の行動の流れを決めておけば、「これの次はこれをする」というように意思決定をなくすことができます（if-thenプランニング）。
        スムーズに動き出せるだけでなく、脳のリソースを大切な場面でより集中して使えるようになるのが嬉しいポイントですね！
      </p>
    </div>

    <div class="about-container-custom">
      <h3 class="text-lg-custom mb-5">
        <span class="text-gray-500">メリット3:</span>
        自己肯定感が上がる
      </h3>
      <p class="about-p-text-custom">
        毎日モーニングルーティンをこなすことで「今日もできた」という達成感から一日をスタートできます。
        この小さな達成感が積み重なると、自然と自信やモチベーションが高まり、一日をさらにポジティブに過ごす原動力になるでしょう！
      </p>
    </div>

    <div class="about-container-custom">
      <h3 class="text-lg-custom mb-5">朝は脳のゴールデンタイム！！</h3>
      <p  class="about-p-text-custom">
        　朝の数時間は、脳が最も冴えて集中力・判断力が高まるいわゆる「ゴールデンタイム」と呼ばれています。
        寝ているあいだに脳と体が休まりリセットされることで、朝は意欲や思考力が高まりやすい状態になるからです。
        そんなゴールデンタイムをどう使うかで、一日の充実度が大きく変わってきます。
        例えば、新しいアイデアを考える・勉強や仕事の重要なタスクを進める・自分に向き合う時間をとるなど、大切な作業に朝の時間を投資してみると、効率も成果も一段とアップしやすくなります。
        ぜひ、この貴重な朝の時間を上手に活用して、毎日をより充実したものにしてみましょう！！
      </p>
    </div>
  </div>  
</div>