<!-- パンくず -->
<div class="breadcrumbs-container-custom">
  <ul>
    <li class="link-text-custom">
      <%= link_to 'マイページ', my_pages_path %>
    </li>
    <li>
      <span class="current-page-text-custom">投稿一覧</span>
    </li>
  </ul>
</div>

<%= render 'routines/search_form', user_words: @user_words %>

<% if @routines.empty? %>
  <p class="my-10 text-center font-semibold sm:text-lg md:text-xl lg:text-2xl">投稿はありません</p>
<% else %>
  <%= render partial: "routines/posts/posted_routine", collection: @routines, as: :routine, locals:{ liked_routine_ids: @liked_routine_ids } %>
<% end %>

<div class="mx-auto"><%= paginate @routines %></div>
