<h1 class="text-center my-10 text-xl font-semibold sm:text-3xl lg:text-4xl">称号編集</h1>

<div class="text-center">
  <%= render "form", reward: @reward %>
  <%= link_to "キャンセル", admin_rewards_path, class: "btn bg-gradient-to-tl from-gray-400 to-gray-100 mx-auto mb-5 min-w-20 sm:text-lg sm:btn-lg sm:max-w-36" %> <br>
</div>