<div class="card bg-base-100 image-full shadow-xl h-full">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  <div class="card-body bg-gray-500/70 z-10 p-1 sm:p-2 lg:p-4">
    <h2 class="card-title">未開放:</h2>
    <h2 class="card-title"><%= reward.description %></h2>
  </div>
</div>