<div class="card bg-base-100 image-full shadow-xl h-full" id="reward-description-<%= reward.id %>">
  <figure>
    <% if reward.image.url %>
      <%= image_tag reward.image.url, size: '200x200' %>
    <% end %> 
  </figure>
  
  <div class="card-body bg-green-600/85 z-10 p-1 sm:p-2 lg:p-4">
    <h2 class="text-title-custom text-center">未開放</h2>
    <h2 class="text-lg-custom"><%= reward.description %></h2>
  </div>
</div>