<!-- プロフィールに設定されている -->
<% if current_user.feature_reward_id == reward.id %>
  <h2 class="text-reward-custom text-lg-custom flex items-center">
    <i class="i-uiw-star-on text-red-500"></i>
    <%= reward.name %>
  </h2>

<!-- 設定されていない -->
<% else %>
  <div class="tooltip tooltip-primary" data-tip="clickでプロフィールに設定">
    <%= button_to users_feature_reward_path(current_user),
        { method: :patch, params: { user: { feature_reward_id: reward.id } } } do
    %>
      <h2 class="text-reward-custom text-lg-custom flex items-center">
        <i class="i-uiw-star-off text-gray-500"></i>
        <%= reward.name %>
      </h2>
    <% end %>
  </div>
<% end %>
