<div class="card bg-base-100 shadow-xl">
  <figure class="px-1 pt-1">
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes"
      class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center p-2">
    <h2 class="card-title bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-green-500"><%= reward.name %></h2>
  </div>
</div>