<!-- パンくず -->
<div class="breadcrumbs-container-custom">
  <ul>
    <li class="link-text-custom">
      <%= link_to 'マイページ', my_pages_path %>
    </li>
    <li>
      <span class="current-page-text-custom">称号一覧</span>
    </li>
  </ul>
</div>

<h1 class="page-title-custom">称号一覧</h1>

<div class="px-4 grid grid-cols-2 lg:grid-cols-3 gap-3">
  <%= render @rewards %>
</div>
