<div class="sm:flex sm:justify-between mt-3 sm:my-5 mx-5 sm:mx-7">
  <div class="flex sm:basis-3/12">
    <%= link_to "<マイページ", my_pages_path,
      class: "btn text-xs bg-gradient-to-tl from-green-500 to-green-500 btn-sm min-h-9 mb-3
              sm:min-w-28 sm:text-sm lg:btn-md
              hover:from-gray-300 hover:to-gray-300 hover:scale-105"
    %>
  </div>

  <h1 class="sm:basis-6/12 text-xl font-semibold text-center sm:text-3xl lg:text-4xl">称号一覧</h1>

  <div class="sm:basis-3/12"></div>
</div>


<div class="p-4 grid sm:grid-cols-2 lg:grid-cols-3">
  <%= render @rewards %>
</div>
