<h1 class="text-center my-10 items-center text-3xl">プロフィール</h1>

<div class="text-center">
  <%= render "edit_form", user: @user %>
  <%= link_to "キャンセル", user_path(current_user), class: "btn btn-outline btn-default mx-auto mb-5" %> <br>
</div>
