<!-- パンくず -->
<div class="breadcrumbs-container-custom">
  <ul>
    <li class="link-text-custom">
      <%= link_to 'マイページ', my_pages_path %>
    </li>

    <li class="link-text-custom">
      <%= link_to 'プロフィール', user_path(current_user) %>
    </li>

    <li>
      <span class="current-page-text-custom">編集</span>
    </li>
  </ul>
</div>

<h1 class="page-title-custom mb-3">プロフィール編集</h1>

<div class="text-center">
  <%= render "edit_form", user: @user %>
  <%= link_to "キャンセル", user_path(current_user), class: "btn-md-custom btn-cansel-custom" %>
</div>
