<h1 class="text-xl font-semibold mt-5 mb-15 text-center sm:text-3xl lg:text-4xl">ユーザー新規登録</h1>

<div class="text-center">
  <%= render "form", user:@user %>
  <%= link_to "キャンセル", root_path, class: "btn bg-gray-300 mx-auto mb-5 min-w-20 sm:text-lg sm:btn-lg sm:max-w-36" %> <br>
  <%= link_to "ログインページへ", login_path, class: "link text-blue-600 mx-auto text-base sm:text-lg lg:text-xl" %>
</div>
