<div class="text-center m-10 w-3/4 mx-auto ">
  <h1 class="my-10 text-4xl">Have a nice day!!</h1>
  <%= link_to "マイページへ", root_path, class: "btn btn-outline btn-lg text-green-500 bg-green-100" %>
</div>