<div id="flash-container">
  <% flash.each do |message_type, message| %>
    <div class="<%= flash_type_class(message_type) %> alert flex justify-between items-center text-white py-2 px-5 w-full text-sm md:text-base">
      <div class="flex gap-3 items-center">
        <i class="<%= flash_icon(message_type) %>"></i>
        <%= message %>
      </div>

      <button class="btn btn-ghost btn-xs btn-circle" id="flash-close-btn">
        <i class="i-uiw-close"></i>
      </button>
    </div>
  <% end %>
</div>
