<footer>
  <div class="w-full h-12 sm:h-16 md:h-20 lg:h-24 py-3 px-1 sm:px-3 md:px-5 flex justify-end items-center bg-gradient-to-t from-sky-50 to-sky-200">
    <div class="flex items-center">
      <%= link_to "プライバシーポリシー", policy_path, class:"mx-1 text-xs font-normal hover:opacity-60 sm:mx-2 md:mx-3" %>
      <%= link_to "利用規約", terms_path, class:"mx-1 text-xs font-normal hover:opacity-60 sm:mx-2 md:mx-3" %>
    </div>
  </div>
</footer>