<div class="my-8 text-center">
  <div class="mb-8">
    <p class="text-lg mb-2">ご意見ありがとうございます！</p>
    <p class="text-lg mb-2">お問い合わせ内容を送信いたしました。</p>
  </div>

  <div class="mb-5">
    <%= link_to 'トップページへ', my_pages_path, class: "btn btn-link text-lg" %>
  </div>
</div>
