<%= button_to users_notification_path(current_user), { method: :patch, params: { user: { notification: 'line' } } } do %>
  <div class="flex justify-start items-center" >
    <i class="i-codicon-bell-slash size-6"></i>
    <span class="text-xs">（通知オフ）</span>
  </div>
<% end %>
