<div class="lg:text-lg">
  <h3>
    Total:
    <span class="text-xl-custom text-blue-700"><%= tag_exp_hash.values.sum %></span>
    exp
  </h3>

  <table class="table table-zebra">  
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Exp</th>
        <th>割合</th>
      </tr>
    </thead>

    <tbody>
      <% tag_exp_hash.each do |tag_name, exp| %>
        <tr>
          <td class="font-semibold text-blue-500"><%= tag_name %></td>
          <td class="font-semibold"><%= exp %></td>
          <td class="font-semibold">
            <%= exp == 0 ? 0 : ((100 * exp).to_f / tag_exp_hash.values.sum).round(1) %> %
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
