<div>
  <h1 class="text-center text-3xl py-5">おはようございます！</h1>
</div>
<div class="text-center mx-auto">
  <%= link_to "ルーティンを作成する", new_routine_path, class:"btn btn-outline btn-success btn-md  mx-2" %>
  <%= link_to "ルーティン一覧", routines_path, class:"btn btn-outline btn-success btn-md mx-2" %>
</div>

<div class="my-5">
  <% if @routine %>
    <%= render "routine", routine: @routine %>
  <% else %>
    <div class="text-center items-center">
      <%= link_to routines_path, class:"items-center btn bg-yellow-400" do %>
        <p class="text-xl">ルーティンを実践中にしましょう！！</p>
      <% end %>
    </div>
  <% end %>
</div>
