<div>
  <h1 class="text-center text-xl py-5 sm:text-2xl md:text-3xl lg:text-4xl xl:test-5xl">おはようございます！</h1>
</div>
<div class="text-center mx-auto">
  <%= link_to "ルーティン作成", new_routine_path, class:"btn bg-cyan-100 btn-sm mx-1 text-xs w-1/3 min-h-10" %>
  <%= link_to "ルーティン一覧", routines_path, class:"btn bg-cyan-100 btn-sm mx-1 text-xs w-1/3 min-h-10" %>
</div>

<div class="my-3">
  <% if @routine %>
    <%= render "routine", routine: @routine %>
  <% else %>
    <div class="text-center items-center">
      <%= link_to routines_path, class:"items-center btn bg-yellow-400" do %>
        <p class="text-xl">ルーティンを実践中にしましょう！！</p>
      <% end %>
    </div>
  <% end %>
</div>
