<div>
  <h1 class="text-center text-3xl py-5">おはようございます！</h1>
</div>
<div class="w-3/4 mx-auto">
  <%= link_to "ルーティンを作成する", new_routine_path, class:"btn btn-outline btn-success btn-md glass mx-2" %>
  <%= link_to "ルーティン一覧", routines_path, class:"btn btn-outline btn-success btn-md glass mx-2" %>
</div>