<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="next">
  <%= link_to_unless current_page.last?, t('views.pagination.next').html_safe, url, rel: 'next', remote: remote, class: "text-sm bg-white hover:p-3 text-gray-800 font-light p-2 mx-2 border border-gray-400 rounded shadow bg-gradient-to-tl from-blue-300 to-blue-100 sm:text-base lg:text-lg" %>
</span>
