<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <span class="bg-gradient-to-tl from-indigo-400 to-indigo-200 text-white mr-1 p-2 rounded text-sm sm:text-base lg:text-lg"><%= page %></span>
<% else %>
  <%= link_to page, url, remote: remote, rel: page.rel, class: "p-2 mr-1 text-gray-800 font-light hover:bg-gray-300 text-sm sm:text-base lg:text-lg" %>
<% end %>
