.btn-sm-custom {
  @apply btn text-xs btn-sm h-8 shadow-sm
         md:text-sm 
         hover:scale-105;
}

.btn-md-custom {
  @apply btn text-xs btn-sm h-8 shadow-md
         sm:h-10 md:text-sm 
         hover:scale-105;
}

.btn-edit-custom {
  @apply bg-gradient-to-tl from-green-300 to-green-100
         hover:from-green-300 hover:to-green-300;
}

.btn-delete-custom {
  @apply bg-gradient-to-tl from-red-400 to-red-200
         hover:from-red-400 hover:to-red-400;
}

.btn-show-custom {
  @apply bg-gradient-to-tl from-blue-300 to-blue-100
         hover:from-blue-300 hover:to-blue-300;
}

.text-title-custom {
  @apply border-b border-gray-400 font-semibold text-sm sm:text-base md:text-lg;
}

.routine-description-custom {
  @apply border-gray-500 rounded-xl py-2 px-3;
}

.text-plane-custom {
  @apply text-xs md:text-sm text-gray-800;
}

.scroll-container-custom {
  @apply max-h-screen overflow-scroll;
}

.tasks-collapse-custom {
  @apply shadow-md border border-gray-300 bg-gradient-to-tl from-teal-100 to-teal-50
         hover:to-teal-100;
}

.tasks-collapse-title-custom {
  @apply collapse-title font-semibold min-h-1 p-[0.8rem];
}

.routine-zone-custom {
  @apply border border-green-400 bg-green-50 rounded-lg;
}

.posted-routine-zone-custom {
  @apply border border-sky-400 bg-green-50 rounded-lg;
}


.nav-menu-custom {
  @apply py-1 grow text-center hover:font-semibold hover:border active:scale-90
         text-sm lg:text-base text-green-500;
}

.link-text-custom {
  @apply text-blue-500;
}

.breadcrumbs-container-custom {
  @apply breadcrumbs w-10/12 mx-auto text-xs sm:text-sm;
}

.current-page-text-custom {
  @apply font-semibold;
}

.page-title-custom {
  @apply text-base text-center font-semibold sm:text-lg md:text-xl lg:text-3xl mb-3 md:mb-5;
}

.icon-size-custom {
  @apply size-4 sm:size-5;
}
